.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editBtn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0 10px 0 30px;
}

.editTitle {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    resize: vertical;
}

.editTodoTitle {
    overflow: hidden;
    word-break: break-word;
}

.editTodoTitle:focus {
    background-color: transparent;
    border: none;
    color: white;
    box-shadow: none;
}

.editTodoDescription {
    outline: 0;
    border: none
}

.editTodoDescription:focus {
    border: none;
    box-shadow: none;
    outline: 0
}


